@charset "ISO-8859-1";

.banner {

background-repeat: no-repeat;

background-size: cover;

background-position: 50% 50%;

position: relative;

width: 100%;

height: auto;

display: block;

}


.centered {
    position: absolute;
    top: 50%;
    left: 32%;
    width: 100%;
}

h1{
	color: white;
	font-size: 4em;
}

.carousel .item {
  height: 200px;
  width: 250px;
}

.carousel .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 200px;
    width: 250px;
}

#icons{
	padding-left: 40%;
}

#aboutme {
	
}


#mhello {
	padding-top: 25px;
   	padding-left: 200px;
   	padding-right: 200px;
  	padding-bottom: 25px;
}

#mprojects {
   padding-left: 200px;
   padding-right: 200px;
   padding-bottom: 25px;
}

#mgraphics {
   padding-left: 200px;
   padding-right: 200px;
   padding-bottom: 25px;
}

#mpersonal {
   padding-left: 200px;
   padding-right: 200px;
   padding-bottom: 25px;
}