@charset "ISO-8859-1";

.banner {

background-repeat: no-repeat;

background-size: cover;

background-position: 50% 50%;

position: relative;

width: 100%;

height: auto;

display: block;

}


#aboutme {
	
}

#mprojects {
   padding-top: 25px;
   padding-left: 200px;
   padding-right: 200px;
   padding-bottom: 25px;
}

#mgraphics {
   padding-left: 200px;
   padding-right: 200px;
   padding-bottom: 25px;
}

#mpersonal {
   padding-left: 200px;
   padding-right: 200px;
   padding-bottom: 25px;
}