@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body{
	height: 100%;
	width: 100%;
	/*font-family: 'Poppins', sans-serif;*/
	color: #282828;
}

/*
.navbar-nav a{
	padding-right: 50px;
}
*/

.nav-link{
	font-size: 1.1em !important;
}





.testing img{
	width: 100%;
	height: 100%;
}

.centered {
	
	display: flex;
	justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("images/bg4.jpg");
}

.centered h1{
	color: white;
	text-align: center;
	/*font-size: 6vw;*/
	font-size: 500%;
}

.icons{
	display: flex;
	justify-content: center;
    align-items: center;
}

.padding{
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.first{
	padding-top: 3rem;
}

.welcome hr{
	border-top: 2px solid #282828;
	width: 10%;
	margin-top: 0rem;
	margin-bottom: 4rem;
}

.categories button{
	color: blue;
	background-color: red;
}



.icons i{
	color: white;
	background-color: #cfc2a1;
}

.icons i:hover{
	background-color: #a1977c;
}

.icons a{
	padding: 0.25rem;
}


.aboutme h4{
	font-size: 160%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.aboutme p{
	font-size: 100%;
}


footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
}

hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
}


/* FOR IMAGE HOVER */
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover img{
  opacity: 0.2;
}

.image:hover .overlay{
	opacity: 1;
}

.image:hover .overlay .text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.ui.basic.brown.button {
	width: 100%;
}

.ui.basic.brown.button:hover {
	color: #fff !important;
	background-color: #a5673f !important;
}




/*---Media Queries --*/
@media (max-width: 992px){
	.aboutme h4 {
		font-size: 140%;
	}
	.aboutme p {
		font-size: 95%;
	}
}
@media (max-width: 768px){
	.aboutme h4 {
		padding-top: 2rem;
		font-size: 200%;
		text-align: center;
	}
	.aboutme p {
		font-size: 100%;
	}
}
@media (max-width: 576px){
	.aboutme h4 {
		padding-top: 2rem;
		font-size: 150%;
		text-align: center;
	}
	.aboutme p {
		font-size: 100%;
	}
}










/*
.short-width{
	width: 50%;
	margin: 0 auto;
	padding-bottom: 2rem;
}


p{
	font-size: 0.85vw;
}
*/

/*
.centered {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100%;
}



h2{
	text-align: center;
}

.carousel .item {
  height: 200px;
  width: 250px;
}

.carousel .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 200px;
    width: 250px;
}

#icons{
	padding-left: 40%;
}



#newsletters {
	padding-top: 25px;
   	padding-left: 212px;
   	padding-right: 200px;
  	padding-bottom: 25px;
}

#apparel {
	padding-top: 25px;
   	padding-left: 212px;
   	padding-right: 200px;
  	padding-bottom: 25px;
}

#unknown {
	padding-top: 25px;
   	padding-left: 212px;
   	padding-right: 200px;
  	padding-bottom: 25px;
}

*/

